---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  Home page:
  <div>
    <a href="/benin-new-testament">Bennin</a>
  </div>
  <div>
    <a href="/ghana-ephesians">Ghana Square</a>
  </div>
</Layout>
