.vjs-big-play-button {
  display: none !important;
}
.video-js {
  width: 100% !important;
  height: 100% !important;
  padding-top: 0 !important;
}
.video-js video,
.video-js img {
  object-fit: cover;
}
.vjs-progress-control.vjs-control {
  position: absolute;
  width: 100%;
}
